.idea/
test-output/
build/
spim/

test.out
test.out.unfilt

# Compiled Object files
*.slo
*.lo
*.o
*.s
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
